<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add connectionString="Server=WAR-MACHINE\SQLExpress;Database=Urna_local;Trusted_Connection=True;" name="URNA" />
  </connectionStrings>
</configuration>